@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 17 17 17;
    --foreground: 245 243 245;
    --card: 17 17 17;
    --card-foreground: 245 243 245;
    --popover: 17 17 17;
    --popover-foreground: 245 243 245;
    --primary: 237 130 94;
    --primary-foreground: 17 17 17;
    --secondary: 17 17 17;
    --secondary-foreground: 245 243 245;
    --muted: 17 17 17;
    --muted-foreground: 245 243 245;
    --accent: 237 130 94;
    --accent-foreground: 17 17 17;
    --destructive: 167 29 49;
    --destructive-foreground: 245 243 245;
    --border: 245 243 245;
    --input: 245 243 245;
    --ring: 237 130 94;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-display: optional;
    font-weight: 300 800;
    src: url(/fonts/OpenSans-VF.woff2) format('woff2-variations');
  }

  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-display: optional;
    font-weight: 300 800;
    src: url(/fonts/OpenSans-Italic-VF.woff2) format('woff2-variations');
  }
}